@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
	--roboto: 'Roboto', sans-serif;
	--smallFont: 14px;
	--lighter-blue: #0072ef;
	--white-color: #fff;
	--light-gray: #666;
}
*,
body {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}
a {
	text-decoration: none;
}
section {
	width: 100%;
}
.navigation-header {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	background-color: var(--white-color);
}
.navigation-header nav {
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.logo img {
	height: 40px;
}
.navigation-header nav ul {
	display: flex;
	column-gap: 40px;
}
.navigation-header nav ul li {
	display: flex;
	align-items: center;
	list-style: none;
	font-family: var(--roboto);
	font-size: var(--smallFont);
	font-weight: 500;
}
.navigation-header nav ul li a {
	color: var(--lighter-blue);
}
.navigation-header nav ul li a:hover {
	text-decoration: underline;
}
#user-image {
	display: flex;
	align-items: center;
	gap: 10px;
}
#user-image img {
	width: 30px;
	border-radius: 50%;
}
.small-screen-user {
	display: none;
	align-items: center;
	gap: 10px;
}
.small-screen-user img {
	width: 30px;
	border-radius: 50%;
}
.search-section {
	background-image: url('https://theme.zdassets.com/theme_assets/9304358/84ca25cf7472abb3305516a7a23df987b66e7956.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-section form {
	width: 45%;
	padding: 10px 20px;
	display: flex;
	background-color: var(--white-color);
	border-radius: 20px;
}
.search-section form i {
	width: 20px;
	color: var(--light-gray);
	font-size: 20px;
	margin-right: 10px;
}
.search-section form input {
	width: calc(100% - 30px);
	height: 20px;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--light-gray);
}

.web-link-container {
	width: 85%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}
.web-link-container button {
	height: 70px;
	background-color: var(--white-color);
	outline: none;
	border: 1px var(--lighter-blue) solid;
	border-radius: 5px;
	color: var(--lighter-blue);
	font-size: var(--smallFont) + 2px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.web-link-container button:hover {
	background-color: var(--lighter-blue);
	color: var(--white-color);
}

@media (max-width: 768px) {
	.navigation-header nav ul {
		display: none;
	}
	.small-screen-user {
		display: flex;
	}
	.search-section form {
		width: 70%;
	}
	.web-link-container {
		grid-template-columns: 1fr 1fr;
	}
}
